* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--GENERAL--RULES--*/

section {
    padding: 3rem 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    font-family: 'PT Sans', sans-serif;
}

.full-container {
    max-width: 100%;
    background-color: var(--purple);
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.col {
    padding: 1rem;

}

:root {
    --blue-sky: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --white: #FFFFFF;
    --gold: #FDC15F;
    --black: #333333;
    --dark-grey:#5A6E7F;
}

button{
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1rem;
}

.card{
    border-radius: 1.5rem;
}

/*--HEADER--*/

#header {
    height: 80px;
    line-height: 80px;
    background-color: var(--blue-sky);
    color: var(--white);
}

#header>.container {
    display: flex;
    justify-content: space-between;
}

 ul{
    display: none;
}

.menu{
    display: block;
}

.image img{
    padding-top: 20px;
}

/*--SECTION--INTRO--*/

#intro {
    width: 100%;
    margin: 0 auto;

}

#intro .card {
    height: 100%;
    width: 100%;
    background-color: var(--light-blue);
}

#intro .box-content{
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#intro .box-content img{
    width: 200px;
    
    margin-bottom: -5px;
}

#intro h3{
    color: var(--blue-sky);
    font-size: 1.5rem;
}

#intro button{
    background-color: var(--blue-sky);
    color: var(--white);
    padding: 0.5rem 2rem;
    font: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
}
#intro .box-50>.box-content{
    text-align: left;
}

#intro p.box-content{
    padding-bottom: 1.5rem;
    color: var(--dark-grey);
    font-weight: bold;
}

#intro .box-content{
    text-align: center;
}
#intro .fa-solid{
    font-size: 4rem;
    color: var(--blue-sky);
}

/*--SECTION--STRATEGIC--*/

#strategic .card {
    padding: 1rem;
}

#strategic {
    width: 100%;
}

#strategic .card-content img{
    width: 100%;
}

#strategic .col:last-child .card{
    text-align: center;
    background-color: var(--white);
}
#strategic .card-content{
    padding: 0.75rem;
}
#strategic .circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    text-align: center;
    line-height: 50px;
}
#strategic .col:last-child p{
    font-style: italic;
}
#strategic .col:first-child .card{
    color: var(--white);
}

/*--SECTION--TESTIMONIAL--*/

#testimonial {
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
}

#testimonial .card,
.card-img {
    width: 100%;
    padding: 1rem;
    background-color: var(--purple);
}

/*--SECTION--BENEFITS-*/

#benefits {
    width: 100%;
    margin: 0 auto;
}

#benefits .card {
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    color: var(--purple);
}

.col-title {
    width: 100%;
    padding: 1rem;
}

/*--SECTION--ABOUT--US-*/

#about-us {
    width: 100%;
    margin: 0 auto;
}

#about-us .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

/*--SECTION--GET-*/

#get {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#get .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

/*--SECTION--FOOT-*/

#foot {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#foot .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

#foot .full-container {
    background-color: var(--black);
}



/*--DEBUG--*/

.debug {
    border: 3px dashed red;
    min-height: 80px;
}

.debug-2 {
    border: 3px dashed red;
    min-height: 80px;
}

/* -----SIMBOLI
freccia giù 
virgolette su <i class="fa-solid fa-quote-left"></i>
virgolette giù <i class="fa-solid fa-quote-right"></i>

*/

/*--TABLET--*/

@media screen and (min-width:576px) {


    /*--MEDIA--INTRO--*/

    #intro .row {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .col:first-child {
        width: calc(100% / 3 * 2);
    }

    #intro .col {
        display: flex;
        width: calc(100% / 3);
    }
    #intro img{
        width: 50%;
    }



    /*--MEDIA--TESTIMONIAL--*/

    #testimonial .card-img {
        width: 30%;
    }

    #testimonial .card {
        width: 70%;
    }

    #testimonial .col {
        display: flex;
        width: 100%;
    }
    #testimonial .col:first-child .card{
        width: 100%;
    }

    /*--MEDIA--BENEFITS-*/

    #benefits .col {
        width: calc(100% / 2);
    }

    #benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    /*--MEDIA--ABOUT--US--*/

    #about-us .col:first-child {
        width: 60%;
    }

    #about-us .col:last-child {
        width: 40%;
    }

    #about-us .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

/*--DESKTOP--*/

@media screen and (min-width:992px) {

    /*--MEDIA--HEADER--*/

.fa-bars{
    display: none;
}

.menu ul {
    display: block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin: 0 10px;
}

    /*--MEDIA--INTRO--*/

    #intro .col:first-child .card {
        display: flex;
    }

    #intro .card>.box-50 {
        width: 50%;
    }

     /*--MEDIA--STRATEGIC--*/

    #strategic .row {
        display: flex;        
    }

    #strategic .col {
        width: calc(100% / 2);
    }

    #strategic .col:first-child{
        display: flex;
       justify-content: flex-end;
    }

    #strategic .col:last-child {
        padding: 8rem 0 2rem;
    }

    #strategic .card{
        width: 75%;
    }

    #strategic .row {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*--MEDIA--BENEFITS-*/

    #benefits .col {
        width: calc(100% / 3);
    }

    #benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .col-title {
        width: 100%;
    }

    /*--MEDI--ABOUT--US--*/

    #about-us .col:first-child {
        width: calc(100% / 3 * 2)
    }

    #about-us .col:last-child {
        width: calc(100% / 3)
    }

    #about-us .row {
        display: flex;
        flex-wrap: wrap;
    }

    /*--MEDIA--GET--*/

    @media screen and (min-width:1200px) {

        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}