* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--HEADER--*/

#header {
    height: 80px;
    line-height: 80px;
    background-color: skyblue;
    color: white;
}

#header>.container {
    display: flex;
    justify-content: space-between;
}

/*--SECTION--INTRO--*/

section {
    padding: 3rem 0;
}

#intro {
    width: 100%;
    margin: 0 auto;

}

#intro .card {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

.box-content {
    min-height: 50px;
    border: 3px solid blue;
}

/*--SECTION--STRATEGIC--*/

#strategic .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

#strategic{
    width: 100%;
}

/*--SECTION--TESTIMONIAL--*/

#testimonial {
    width: 100%;
    margin: 0 auto;
}
#testimonial .card, .card-img{
    width: 100%;
    padding: 1rem;
    background-color: brown;
}
/*--SECTION--BENEFITS-*/

#benefits {
    width: 100%;
    margin: 0 auto;
}
#benefits .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

/*--SECTION--ABOUT--US-*/

#about-us {
    width: 100%;
    margin: 0 auto;
}
#about-us .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

/*--SECTION--GET-*/

#get{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#get .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}
/*--SECTION--FOOT-*/

#foot {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#foot .card {
    width: 100%;
    padding: 1rem;
    background-color: brown;
}

/*--GENERAL--RULES--*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.full-container {
    max-width: 100%;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.col {
    padding: 1rem;

}


/*--DEBUG--*/

.debug {
    border: 3px dashed red;
    min-height: 80px;
}

.debug-2 {
    border: 3px dashed red;
    min-height: 80px;
}

/*--TABLET--*/

@media screen and (min-width:576px) {

    #intro .row {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .col:first-child {
        width: calc(100% / 3 * 2);
    }

    #intro .col {
        display: flex;
        width: calc(100% / 3);
    }

    #intro .col:first-child .card {
        display: flex;
    }

    #intro .card>.box-50 {
        width: 50%;
    }

    /*--MEDIA--TESTIMONIAL--*/

    #testimonial .card-img {
        max-width: 30%;
    }

    #testimonial .card {
        max-width: 70%;
    }

    #testimonial .col {
        display: flex;
        max-width: 100%;
    }

    /*--MEDIA--BENEFITS-*/

    #benefits .col {
        width: calc(100% / 2);
    }

    #benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-title {
        width: 100%;
    }

    /*--MEDIA--ABOUT--US--*/

    #about-us .col {
        width: calc(100% / 2);
    }

    #about-us .row {
        display: flex;
        flex-wrap: wrap;
    }

         /*--MEDIA--GET--*/
    #get .container{
        
    }

}

/*--DESKTOP--*/

@media screen and (min-width:992px) {

    #strategic .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #strategic .col {
        width: calc(80% / 2);

    }

    #strategic .col:last-child {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    /*--MEDIA--BENEFITS-*/

    #benefits .col {
        width: calc(100% / 3);
    }

    #benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .col-title {
        width: 100%;
    }

    /*--MEDI--ABOUT--US--*/

    #about-us .col:first-child {
        width: 70%;
    }

    #about-us .row {
        display: flex;
        flex-wrap: wrap;
    }
    #about-us .col-30{
        width: 30%;
    }
     /*--MEDIA--GET--*/
    
    #get .container{
        
    }
    
    @media screen and (min-width:1200px){

        .container{
            max-width:1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }